{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block content %}
	<h1>{{ product.name }}</h1>

	<div class="row">
		<div class="col-md-4">
			<img src="/uploads/{{product.illustration}}" alt="{{ product.name }}" class="img-fluid">
		</div>
		<div class="col-md-8">
			<h5>{{ product.name }}</h5>
			<span>{{ product.subtitle }}</span><br>
			<span class="font-weight-bold">{{ (product.price / 100) | number_format(2, ',', '.') }}
				€</span>
			<hr>
			<p>{{ product.description }}</p>
			<a href="{{ path('add_to_cart', {'id':product.id}) }}" class="btn btn-primary"><img src="{{ asset('assets/images/shopping-cart.png') }}"><span class="ml-1">ADD TO CART</span>
			</a>


		</div>
	</div>

{% endblock %}
